body{
    /*background-color:#8650D9;*/
}
#particles-js{
    position: relative;
    /*z-index: -1;*/
}



.navbar-inner {
    background-color:transparent;
}
.left-column>*{
    margin-left: 14%;
}
.primary-heading{
    margin-top: 15%;
    margin-bottom: 6%;
}
.secondary-heading{

    font-weight: 300;
}
.secondary-text{
    margin-top: 4%;
    margin-bottom: 4%;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 200;
    font-family: inter;
}
.btn{
    margin: 2%;
    background-color: #17B5CB;
}
.myCarouselWrapper{
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
}
#features-area{
    margin-top: 2%;
}
.features-section--cards{
    margin-top: 2%;
    background-color: #f5f5f5;
}
.myCard{
    padding: 1.5%;
}